MONGODB_URI=mongodb+srv://omsanjaygodase11_db_user:8A4SowbSUbD6ldhk@cluster0.g0qnj7i.mongodb.net/policy-project?retryWrites=true&w=majority&appName=Cluster0
JWT_SECRET=your-super-secret-jwt-key-change-this-in-production
JWT_EXPIRES_IN=24h
PORT=3000
NODE_ENV=development
FRONTEND_URL=http://localhost:4200
SMTP_SERVICE=gmail
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=omsanjaygodase11@gmail.com
SMTP_PASS=qbuw krxi afsi jspp
SMTP_FROM=PolicyPal <noreply@policypal.com>
AI_SERVICE_URL=http://localhost:8000

# Support Email
SUPPORT_EMAIL=support@policypal.com

ENCRYPTION_KEY= 2575872beaeb94f28142281c47f765c8ea86ec0e20f112cee7d3a732a64b8ff6

UPSTASH_REDIS_REST_URL="https://ethical-squid-22877.upstash.io"
UPSTASH_REDIS_REST_TOKEN="AVldAAIncDIwNjRlYzk2MmU3YzI0NDQ3YWY0M2UyY2NmZWUyMTFmOHAyMjI4Nzc"