MONGODB_URI=......
JWT_SECRET=your-super-secret-jwt-key-change-this-in-production
JWT_EXPIRES_IN=24h
PORT=3000
NODE_ENV=development
FRONTEND_URL=http://localhost:4200
SMTP_SERVICE=gmail
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=.........
SMTP_PASS=...........
SMTP_FROM=PolicyPal <noreply@policypal.com>
AI_SERVICE_URL=http://localhost:8000

# Support Email
SUPPORT_EMAIL=support@policypal.com

ENCRYPTION_KEY= ......................

UPSTASH_REDIS_REST_URL=...........
UPSTASH_REDIS_REST_TOKEN=.............
